@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto&display=swap');
/* Put the import-statement at the very top of the CSS file */
/* Other stuff here... */
body {
    color: #8c0a9b;
    background-color: #929797;
}

nav ul li a {
    color: #fafafa;
}

h1, h2, h3 {
    font-family: 'Inconsolata', monospace;
}

p {
    font-family: 'Roboto', sans-serif;
}